# Sales Data Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\10-Me22\Downloads\sales_data.csv")
df

           date     product     category   price  quantity  revenue
0    2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0
..          ...         ...          ...     ...       ...      ...
364  2022-12-27       Watch  Accessories   150.0       5.0    750.0
365  2022-12-28        Coat     Clothing   100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0   1200.0

[369 rows x 6 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     367 non-null    float64
 4   quantity  368 non-null    float64
 5   revenue   368 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.4+ KB

In [4]:
df.describe()

             price    quantity      revenue
count   367.000000  368.000000   368.000000
mean    211.226158   14.565217  2060.679348
std     227.335170    8.595740  1910.930790
min      20.000000    3.000000   300.000000
25%      50.000000    8.000000   800.000000
50%     100.000000   12.000000  1200.000000
75%     300.000000   20.000000  2400.000000
max    1200.000000   50.000000  7200.000000

In [5]:
df.isna().sum()

date        0
product     0
category    0
price       2
quantity    1
revenue     1
dtype: int64

In [6]:
# Replace null values in each column with the mean of that column
df.fillna(df.mean(), inplace=True)

C:\Users\10-Me22\AppData\Local\Temp\ipykernel_16840\1493838812.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [7]:
df.duplicated().sum()

1

In [8]:
# Remove duplicate rows based on all columns
df = df.drop_duplicates()
df

           date     product     category   price  quantity  revenue
0    2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0
..          ...         ...          ...     ...       ...      ...
364  2022-12-27       Watch  Accessories   150.0       5.0    750.0
365  2022-12-28        Coat     Clothing   100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0   1200.0

[368 rows x 6 columns]

In [9]:
# What was the total revenue generated by the company over the course of the year?
total_revenue = df['revenue'].sum()
print("Total Revenue for the year:", total_revenue)

Total Revenue for the year: 759190.679347826

In [10]:
# Which product had the highest revenue? How much revenue did it generate?
highest_revenue_product = df.groupby('product')['revenue'].sum().idxmax()
highest_revenue = df.groupby('product')['revenue'].sum().max()
print("Product with the highest revenue:", highest_revenue_product)
print("Revenue generated by the highest revenue product:", highest_revenue)

Product with the highest revenue: Smartphone
Revenue generated by the highest revenue product: 434400.0

In [11]:
# What was the average price of a product sold by the company?
average_price = df['price'].mean()
print("Average price of a product sold:", average_price)

Average price of a product sold: 211.6914465110769

In [12]:
# What was the total quantity of products sold by the company?
total_quantity_sold = df['quantity'].sum()
print("Total quantity of products sold:", total_quantity_sold)

Total quantity of products sold: 5344.565217391304

In [13]:
# Which category had the highest revenue? How much revenue did it generate?
category_highest_revenue = df.groupby('category')['revenue'].sum().idxmax()
category_highest_revenue_amount = df.groupby('category')['revenue'].sum().max()
print("Category with the highest revenue:", category_highest_revenue)
print("Revenue generated by the highest revenue category:", category_highest_revenue_amount)

Category with the highest revenue: Electronics
Revenue generated by the highest revenue category: 516080.0

In [14]:
# What was the average revenue per sale?
average_revenue_per_sale = df['revenue'].mean()
print("Average revenue per sale:", average_revenue_per_sale)

Average revenue per sale: 2063.0181504017014

In [15]:
# What was the total revenue generated in each quarter of the year?
df['date'] = pd.to_datetime(df['date'])  # Convert the 'date' column to datetime
df['quarter'] = df['date'].dt.quarter  # Extract the quarter from the 'date'

# Group by quarter and calculate total revenue for each quarter
quarterly_revenue = df.groupby('quarter')['revenue'].sum()
print("Total revenue generated in each quarter of the year:")
print(quarterly_revenue)

Total revenue generated in each quarter of the year:
quarter
1    182100.000000
2    186030.679348
3    197680.000000
4    193380.000000
Name: revenue, dtype: float64

C:\Users\10-Me22\AppData\Local\Temp\ipykernel_16840\3410412857.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])  # Convert the 'date' column to datetime
C:\Users\10-Me22\AppData\Local\Temp\ipykernel_16840\3410412857.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['date'].dt.quarter  # Extract the quarter from the 'date'

In [17]:
# Which product had the lowest revenue? How much revenue did it generate?
highest_revenue_product = df.groupby('product')['revenue'].sum().idxmin()
highest_revenue = df.groupby('product')['revenue'].sum().min()
print("Product with the lowest revenue:", highest_revenue_product)
print("Revenue generated by the lowest revenue product:", highest_revenue)

Product with the lowest revenue: Laptop
Revenue generated by the lowest revenue product: 6000.0

In [18]:
# Which category had the lowest revenue? How much revenue did it generate?
category_highest_revenue = df.groupby('category')['revenue'].sum().idxmin()
category_highest_revenue_amount = df.groupby('category')['revenue'].sum().min()
print("Category with the lowest revenue:", category_highest_revenue)
print("Revenue generated by the lowest revenue category:", category_highest_revenue_amount)

Category with the lowest revenue: Bgas
Revenue generated by the lowest revenue category: 900.0